<div class="card">
  @if (loadInProzess) {
    <div class="text-center p-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {
    @for (contact of contacts; track contact; let e = $even) {
      <ait-app-details [contactToDisplay]="contact" [isEven]="e" (contactDeleted)="onDelete($event)"></ait-app-details>
    }
  }

<!--  <div *ngIf="loadInProzess" class="text-center p-3">-->
<!--    <div class="spinner-border" role="status">-->
<!--      <span class="visually-hidden">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="!loadInProzess">-->
<!--    @for (contact of contacts; track contact; let e = $even) {-->
<!--      <ait-app-details [contactToDisplay]="contact" [isEven]="e" (contactDeleted)="onDelete($event)"></ait-app-details>-->
<!--    }-->
<!--  </div>-->


</div>
